@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.header_under.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  border: none;
  height: auto;
  padding: 1% 0;
  box-shadow: 0 5px 15px #333;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 100vw;
  width: 100%;
  height: 100%;
  background-color: rgba(116, 130, 224, 0.5);
  /* 背景カラー */
  z-index: 9999;
  /* 一番手前に */
  pointer-events: none;
  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;
  /* 初期値 : 透過状態 */
  -webkit-transition: all 0.8s ease;
  /* アニメーション時間は 0.8秒 */
  transition: all 0.8s ease;
}

body.fadeout::after {
  opacity: 1;
  left: -100vw;
}

.wrapper {
  transition: all 1s ease-in-out;
  opacity: 1;
}

body.fadeout .wrapper {
  opacity: 0;
  transition: 0.8s ease;
}

.material-symbols-outlined {
  color: #fff;
}

.top_button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .top_button {
    width: 115px;
    height: 115px;
  }
}
@media screen and (max-width: 480px) {
  .top_button {
    width: 95px;
    height: 95px;
    right: 2%;
    bottom: 2%;
  }
}
.top_button a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: purple;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  text-align: center;
}
.top_button a img {
  width: 30%;
  margin-bottom: 5%;
}
.top_button a p {
  color: #fff;
}

.service_button {
  position: absolute;
  bottom: 0;
  right: 5%;
  display: inline-block;
  border: solid 1px #333;
  width: 150px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .service_button {
    position: unset;
    margin: 5% auto;
  }
}
.service_button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2.5;
  color: #d4a222;
  font-weight: bold;
  box-shadow: 0 3px 8px #666;
}

.about_button {
  position: absolute;
  bottom: 10%;
  right: 0;
  display: inline-block;
  border-bottom: 2px solid #fff;
}
.about_button a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

* {
  box-sizing: border-box;
  color: #333;
}

body {
  counter-reset: number 0;
}

a {
  color: #333;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

.header_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_left {
  width: 40%;
  height: 20vh;
  padding: 0 3%;
  box-shadow: inset -10px 0 #fff, inset -15px 0 #d4a222, inset -20px 0 #fff, inset -25px 0 #2e3b8b;
}
@media screen and (max-width: 1024px) {
  .header_left {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  .header_left {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .header_left {
    width: 30%;
  }
}
.header_left a {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header_left a {
    padding-left: 10%;
  }
}
.header_logo {
  width: 15%;
}
@media screen and (max-width: 480px) {
  .header_logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header_logo img {
  width: 100%;
  height: 100%;
}
.header_name {
  width: 90%;
}
@media screen and (max-width: 480px) {
  .header_name {
    display: none;
  }
}
.header_name h2 {
  color: #2e3b8b;
  font-size: 1.5rem;
}
.header_name p {
  color: #2e3b8b;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5%;
}
.header_right {
  width: 60%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e3b8b;
}
@media screen and (max-width: 1024px) {
  .header_right {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .header_right {
    flex-direction: column;
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .header_right {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .header_info {
    width: 80%;
    margin: 0 auto;
  }
}
.header_infoItem {
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 1.5;
}
.header_infoItem p {
  color: #fff;
}
.header_tel {
  width: 40%;
  margin-left: 3%;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .header_tel {
    width: 80%;
    margin: 0 auto;
  }
}
.header_tel p {
  color: #fff;
}
.header_telNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}
.header_telNumber img {
  width: 15%;
}
.header_telNumber p {
  color: #fff;
}
.header_under {
  height: 10vh;
  border-top: 4px solid #2e3b8b;
}
.header_nav {
  height: 100%;
}
.header_navInner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header_navItem {
  margin-left: 8%;
  text-align: center;
}
.header_navItem:first-child {
  margin-left: 0;
}
.header_nav a {
  font-size: 1.2rem;
}
@media screen and (max-width: 480px) {
  .header_nav a {
    font-size: 1rem;
  }
}
.header_navEn {
  font-size: 0.8em;
}
.header_navJa {
  margin-top: 5%;
}

.footer {
  margin-top: 10%;
  background: #2e3b8b;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e3b8b;
  border-top: 2px solid #d4a222;
  border-bottom: 2px solid #d4a222;
  padding: 3% 10%;
}
@media screen and (max-width: 480px) {
  .footer_inner {
    padding: 3% 5%;
  }
}
.footer_left {
  width: 35%;
}
@media screen and (max-width: 768px) {
  .footer_left {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .footer_left {
    width: 60%;
  }
}
.footer_right {
  width: 55%;
}
@media screen and (max-width: 768px) {
  .footer_right {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .footer_right {
    width: 40%;
  }
}
.footer_navInner {
  display: flex;
  justify-content: end;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer_navInner {
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
  }
}
.footer_navJa {
  color: #fff;
}
.footer_navItem {
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .footer_navItem {
    margin-left: 0;
    margin-bottom: 10%;
  }
}
.footer_navItem a {
  color: #fff;
}
.footer_infoItem {
  line-height: 1.5;
  border-left: 2px solid #fff;
}
.footer_infoItem p {
  color: #fff;
  margin-left: 10%;
}
.footer_copy {
  margin-top: 1%;
  width: 90%;
  text-align: end;
}
.footer_copy small {
  color: #fff;
}

.copy_inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  background: #2e3b8b;
  overflow: hidden;
}
.copy_left {
  position: absolute;
  top: 50%;
  left: 11.3%;
  transform: translate(-95%, -50%);
  height: 45%;
  z-index: 2;
}
.copy_left img {
  width: 100%;
  height: 100%;
}
.copy_right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(74%, -50%);
  height: 45%;
  padding-right: 15%;
  z-index: 2;
}
.copy_right img {
  width: 100%;
  height: 100%;
}
.copy_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 45%;
  border: solid 1px white;
  text-align: center;
}
.copy_center::before {
  position: absolute;
  top: 80%;
  left: 0%;
  transform: translate(-100%, -50%);
  content: "";
  width: 140px;
  border-bottom: solid 1px white;
  z-index: 1;
}
.copy_center::after {
  position: absolute;
  top: 80%;
  left: 100%;
  transform: translate(0%, -50%);
  content: "";
  width: 140px;
  border-bottom: solid 1px white;
  z-index: 1;
}
.copy_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0% auto;
  line-height: 2;
}
.copy_contain {
  font-size: 1.3rem;
  color: white;
}
.copy_contain span {
  color: #d4a222;
  font-size: 1.7rem;
}

.jobInner {
  width: 100%;
  position: relative;
}
.job_overview {
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
}
.job_english {
  line-height: 1.5;
}
.job_english ul li {
  font-size: 1.5rem;
  font-weight: bold;
}
.job_ttl {
  display: inline-block;
  white-space: nowrap;
  padding: 1% 3%;
  margin: 1% auto;
  background: #2e3b8b;
}
.job_ttl h3 {
  color: white;
  font-size: 3rem;
}
.job_content {
  position: relative;
  width: 100%;
  height: 100vh;
}
.job_content img {
  position: absolute;
  width: 35%;
  z-index: 2;
}
.job_contentTxt {
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0%;
  padding: 3% 6%;
  line-height: 2;
  background: #2e3b8b;
  z-index: 1;
}
.job_contentTxt p {
  color: white;
  font-size: 1.3rem;
}
.job_contentTxt p span {
  color: #d4a222;
  font-size: 1.6rem;
}

.info {
  margin-top: 5%;
}
.info_inner {
  background: #2e3b8b;
  text-align: center;
  padding: 3% 0;
}
.info_inner p {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2;
}
@media screen and (max-width: 480px) {
  .info_inner p {
    font-size: 1.3rem;
  }
}

.tell {
  width: 90%;
  margin: 5% auto;
}
.tell_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  .tell_ttl {
    margin-bottom: 5%;
  }
}
.tell_ttl span {
  color: #2e3b8b;
}
.tell_txt {
  width: 90%;
  margin: 0 auto;
  background: #e9e9e9;
  text-align: center;
  padding: 3% 0;
}
.tell_txtName {
  color: #2e3b8b;
  font-size: 1.2rem;
}
.tell_txtTel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  line-height: 3;
}
@media screen and (max-width: 480px) {
  .tell_txtTel {
    font-size: 2rem;
  }
}
.tell_txtTel span {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
}
.tell_txtTime {
  font-size: 1.2rem;
}

.mail {
  width: 90%;
  margin: 0 auto;
}
.mail_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  .mail_ttl {
    margin-bottom: 5%;
  }
}
.mail_ttl span {
  color: #2e3b8b;
}
.mail_form {
  width: 90%;
  margin: 0 auto;
  background: #e9e9e9;
  padding: 3% 5%;
}
@media screen and (max-width: 768px) {
  .mail_form {
    padding: 5% 0;
  }
}
.mail_formItem {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 1%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .mail_formItem {
    flex-direction: column;
    margin-bottom: 3%;
  }
}
.mail_formItem:nth-of-type(1)::before, .mail_formItem:nth-of-type(8)::before, .mail_formItem:nth-of-type(9)::before, .mail_formItem:nth-of-type(10)::before, .mail_formItem:nth-of-type(11)::before {
  display: none;
}
.mail_formItem:nth-of-type(12) {
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .mail_formItem:nth-of-type(12) {
    align-items: center;
  }
}
.mail_formItem:nth-of-type(12)::before {
  display: none;
}
.mail_formItem::before {
  content: "必須";
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background: #fff;
  color: #eb2222;
  font-size: 1.2rem;
  padding: 1%;
}
@media screen and (max-width: 768px) {
  .mail_formItem::before {
    top: 15%;
    left: 60%;
  }
}
@media screen and (max-width: 480px) {
  .mail_formItem::before {
    left: 70%;
  }
}
.mail_formItem label {
  width: 50%;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .mail_formItem label {
    width: 80%;
    margin-bottom: 3%;
  }
}
.mail_formItem select {
  width: 50%;
  font-size: 1.2rem;
  padding: 1%;
  background: #79c3f5;
  border: none;
}
@media screen and (max-width: 768px) {
  .mail_formItem select {
    width: 80%;
  }
}
.mail_formItem select:focus {
  background: #fff;
  border: 2px solid #79c3f5;
  outline: 0;
}
.mail_formItem input {
  width: 50%;
  padding: 1%;
  font-size: 1.2rem;
  background: #79c3f5;
  position: relative;
  border: none;
}
@media screen and (max-width: 768px) {
  .mail_formItem input {
    width: 80%;
  }
}
.mail_formItem input:focus {
  background: #fff;
  border: 2px solid #70b5e4;
  outline: 0;
}
.mail_formItem textarea {
  width: 50%;
  background: #79c3f5;
  font-size: 1.2rem;
  border: none;
}
@media screen and (max-width: 768px) {
  .mail_formItem textarea {
    width: 80%;
  }
}
.mail_formItem textarea:focus {
  background: #fff;
  border: 2px solid #79c3f5;
  outline: 0;
}
.mail_form p {
  font-size: 1.3rem;
  margin: 3% 0;
}
@media screen and (max-width: 768px) {
  .mail_form p {
    margin: 5% 0 5% 10%;
  }
}
@media screen and (max-width: 480px) {
  .mail_form p {
    margin-left: 3%;
  }
}
.mail_formBtn {
  margin-top: 5%;
  display: inline-block;
  border-radius: 20%;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  padding: 1% 5%;
  background: #2e3b8b;
  color: #fff;
  line-height: 1em;
  transition: 0.3s;
  box-shadow: 6px 6px 3px #666;
  border: 2px solid #2e3b8b;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .mail_formBtn {
    padding: 3% 6%;
  }
}
.mail_formBtn:hover {
  box-shadow: unset;
  color: #2e3b8b;
  background: #fff;
  border: unset;
}

.tab-block {
  display: none;
}
@media screen and (max-width: 768px) {
  .tab-block {
    display: block;
  }
}

.ideal_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
  padding: 1%;
}
@media screen and (max-width: 768px) {
  .ideal_ttl {
    margin-bottom: 5%;
  }
}
.ideal_ttl span {
  color: #2e3b8b;
}
.ideal_inner {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 5%;
}
.ideal_left {
  width: 50%;
  text-align: center;
}
.ideal_left h3 {
  padding: 1%;
  font-size: 1.3rem;
}
.ideal_left p {
  padding: 1%;
  font-size: 1.3rem;
}
.ideal_right {
  width: 50%;
  line-height: 1.5;
}
.ideal_right p {
  font-size: 1.3rem;
}

.president_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  .president_ttl {
    margin-bottom: 5%;
  }
}
.president_ttl span {
  color: #2e3b8b;
}
.president_inner {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 5%;
}
.president_left {
  width: 50%;
  text-align: center;
}
.president_left h3 {
  padding: 1%;
  font-size: 1.3rem;
}
.president_left p {
  padding: 1%;
  font-size: 1.3rem;
}
.president_right {
  width: 50%;
  line-height: 1.5;
}
.president_right p {
  font-size: 1.3rem;
}

.history_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .history_ttl {
    margin-bottom: 5%;
  }
}
.history_ttl span {
  color: #2e3b8b;
}
.history_inner {
  width: 100%;
}
.history_left table {
  margin: 0 auto;
}
.history_left table tr {
  border-bottom: 1px solid #333;
}
.history_left table td {
  width: 50%;
}

.top {
  width: 100%;
  height: 70vh;
}
.top_inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../../img/top-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top_txt {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top_copy {
  font-size: 3.5rem;
  text-shadow: #fff 2px 2px;
  color: #d4a222;
}
@media screen and (max-width: 1024px) {
  .top_copy {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .top_copy {
    margin-bottom: 3%;
  }
}
.top_copy br {
  display: none;
}
@media screen and (max-width: 768px) {
  .top_copy br {
    display: block;
  }
}
.top_copy span {
  color: #d4a222;
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .top_copy span {
    line-height: 1.5;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .top_copy span {
    font-size: 1.3em;
  }
}
.top_ex {
  color: #fff;
  font-size: 2rem;
}

.service {
  margin-top: 5%;
}
.service_inner {
  padding: 0 5%;
}
@media screen and (max-width: 768px) {
  .service_inner {
    text-align: center;
    padding: 0;
  }
}
.service_top {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .service_top {
    flex-direction: column;
  }
}
.service_topLeft {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .service_topLeft {
    width: 90%;
  }
}
.service_topRight {
  position: relative;
  width: 50%;
  text-align: center;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .service_topRight {
    width: 90%;
  }
}
.service_topRight::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 100%;
  background: url(../img/service-img2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -80%;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .service_topRight::before {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .service_topRight::before {
    display: none;
  }
}
.service_topRight img {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  .service_topRight img {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .service_topRight img {
    width: 100%;
    object-fit: cover;
  }
}
.service_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
  .service_ttl {
    margin-bottom: 5%;
  }
}
.service_ttl span {
  color: #2e3b8b;
}
@media screen and (max-width: 768px) {
  .service_ttl {
    margin-bottom: 5%;
  }
}
.service_ex {
  padding-left: 5%;
  font-size: 1.2rem;
  margin-bottom: 3%;
  text-align: justify;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .service_ex {
    padding-left: 0;
  }
}
.service_bottom {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .service_bottom {
    margin-top: 5%;
  }
}
.service_item {
  width: 50%;
  background: #2e3b8b;
  clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
  font-size: 1.5rem;
  line-height: 3;
  color: #fff;
  padding-left: 8%;
  position: relative;
  margin-bottom: 1%;
  left: 3%;
}
@media screen and (max-width: 768px) {
  .service_item {
    text-align: initial;
    width: 90%;
    padding-left: 15%;
  }
}
.service_item::before {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  counter-increment: number 1;
  content: "0" counter(number);
}
.service_item:nth-child(2) {
  left: 6%;
}
.service_item:nth-child(3) {
  left: 9%;
}
.service_item:nth-child(4) {
  left: 12%;
}

.frow {
  margin-top: 5%;
}
.frow_inner {
  background: url(../img/flow-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3% 5%;
}
.frow_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
  color: #2e3b8b;
}
@media screen and (max-width: 768px) {
  .frow_ttl {
    margin-bottom: 5%;
  }
}
.frow_ttl span {
  color: #2e3b8b;
}
@media screen and (max-width: 480px) {
  .frow_ttl {
    font-size: 1.5rem;
  }
}
.frow_list {
  display: flex;
  justify-content: center;
  align-items: start;
}
@media screen and (max-width: 768px) {
  .frow_list {
    display: block;
  }
}
.frow_item {
  position: relative;
  width: 12%;
  height: 400px;
  background: #2e3b8b;
  clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0 100%, 0 0);
  color: #fff;
}
.frow_item:last-child {
  clip-path: none;
}
@media screen and (max-width: 768px) {
  .frow_item:last-child {
    height: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .frow_item {
    width: 15%;
  }
}
@media screen and (max-width: 768px) {
  .frow_item {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 200px;
    clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
  }
}
@media screen and (max-width: 480px) {
  .frow_item {
    height: 150px;
  }
  .frow_item:last-child {
    height: 100px;
  }
}
.frow_itemImg {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 30%;
  font-size: 2.5rem;
  text-align: center;
}
.frow_itemImgLast {
  width: 30%;
  text-align: center;
  font-size: 2.5rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .frow_itemImgLast {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 3%;
    width: 15%;
  }
}
@media screen and (max-width: 768px) {
  .frow_itemImg {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 3%;
    width: 15%;
  }
}
.frow_single {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .frow_single {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.frow_singleLast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frow_singleLast p {
  writing-mode: vertical-lr;
  color: #fff;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .frow_singleLast p {
    writing-mode: unset;
    font-size: 1.5rem;
  }
}
.frow_single p {
  writing-mode: vertical-lr;
  color: #fff;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .frow_single p {
    writing-mode: unset;
    font-size: 1.5rem;
  }
}
.frow_flex {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: start;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .frow_flex {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
.frow_flex p {
  writing-mode: vertical-rl;
  color: #fff;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .frow_flex p {
    writing-mode: unset;
    font-size: 1.5rem;
  }
}

.about {
  margin-top: 5%;
}
.about_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .about_ttl {
    margin-bottom: 5%;
  }
}
.about_ttl span {
  color: #2e3b8b;
}
.about_bg {
  position: relative;
  background-color: #79c3f5;
  opacity: 0.8;
  height: 230px;
}
@media screen and (max-width: 768px) {
  .about_bg {
    height: auto;
  }
}
.about_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .about_list {
    flex-direction: column;
    padding: 5% 0;
  }
}
.about_item {
  text-align: center;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .about_item {
    width: 31%;
  }
}
@media screen and (max-width: 768px) {
  .about_item {
    width: 90%;
    padding: 10% 0;
    margin-bottom: 5%;
  }
  .about_item:last-child {
    margin-bottom: 0;
  }
}
.about_item::before {
  content: "01";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.2;
  font-size: 15rem;
  text-align: center;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .about_item::before {
    left: 15%;
  }
}
.about_item:nth-child(2)::before {
  content: "02";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.2;
  font-size: 15rem;
  text-align: center;
  z-index: -1;
}
.about_item:nth-child(3)::before {
  content: "03";
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.2;
  font-size: 15rem;
  text-align: center;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .about_item:nth-child(3)::before {
    left: 85%;
  }
}
.about_txt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_txtTtl {
  font-size: 2rem;
  color: #2e3b8b;
  margin-bottom: 5%;
}
.about_ex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}
.about_ex span {
  color: #fff;
  font-size: 0.6em;
}

.contact {
  margin-top: 5%;
}
.contact_ttl {
  font-size: 2rem;
  color: #999;
  margin-bottom: 2%;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .contact_ttl {
    margin-bottom: 5%;
  }
}
.contact_ttl span {
  color: #2e3b8b;
}
.contact_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contact_box {
    flex-direction: column;
  }
}
.contact_left, .contact_right {
  background: #e9e9e9;
  width: 40%;
  height: 250px;
  padding: 2%;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact_left, .contact_right {
    width: 90%;
    margin-bottom: 5%;
    height: 200px;
    padding: 5%;
  }
}
.contact_leftTtl, .contact_rightTtl {
  font-size: 1.3rem;
  color: #2e3b8b;
  border-bottom: 1px solid #d4a222;
  width: 65%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .contact_leftTtl, .contact_rightTtl {
    width: 80%;
  }
}
.contact_leftTtl span, .contact_rightTtl span {
  color: #2e3b8b;
  font-size: 1.8rem;
}
.contact_txt, .contact_mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.contact_txt a, .contact_mail a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  .contact_txt a, .contact_mail a {
    font-size: 1.3rem;
  }
}
.contact_txt a:hover, .contact_mail a:hover {
  opacity: 0.6;
}
.contact_name {
  color: #2e3b8b;
  font-size: 1.2rem;
}
.contact_tel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  line-height: 2;
}
@media screen and (max-width: 1024px) {
  .contact_tel {
    font-size: 2rem;
  }
}
.contact_telImg {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}
.contact_time {
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
