@use "../global" as *;

.ideal {
  &_ttl {
    @include ttl;
    padding: 1%;
  }
  &_inner {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 5%;
  }
  &_left {
    width: 50%;
    text-align: center;
    h3 {
      padding: 1%;
      font-size: 1.3rem;
    }
    p {
      padding: 1%;
      font-size: 1.3rem;
    }
  }
  &_right {
    width: 50%;
    line-height: 1.5;
    p {
      font-size: 1.3rem
    }
  }
}
.president {
  &_ttl {
    @include ttl;
  }
  &_inner {
    width: 100%;
    position: relative;
    display: flex;
    margin-top: 5%;
  }
  &_left {
    width: 50%;
    text-align: center;
    h3 {
      padding: 1%;
      font-size: 1.3rem;
    }
    p {
      padding: 1%;
      font-size: 1.3rem;
    }
  }
  &_right {
    width: 50%;
    line-height: 1.5;
    p {
      font-size: 1.3rem
    }
  }
}
.history {
  &_ttl {
    @include ttl;
    text-align: center;
    width: 50%;
  }
  &_inner {
    width: 100%;
  }
  &_left {
    table {
      margin: 0 auto;
      tr {
        border-bottom: 1px solid $m-black;
      }
    }
  }
}