@use "../global" as *;

.about {
  &-top {
    &_inner {
      position: relative;
      width: 100%;
      height: 100%;
      background: url(../img/about-top.png);
      @include bg;
    }
  }
}

.ideal {
  &_ttl {
    @include ttl;
    padding: 3%;
  }
  &_inner {
    width: 100%;
    @include flex(space-around);
    padding: 5% 0;
    position: relative;
    @include mq(sp) {
      flex-direction: column;
    }
    &::before{
      content: "01";
      display: inline-block;
      position:absolute;
      font-size: 10rem;
      color: $light;
      opacity: .6;
      left: 18%;
      top: 7%;
      z-index: -1;
      @include mq(pc) {
        left: 16%;
      }
      @include mq(tab) {
        left: 12%;
        font-size: 9rem;
      }
      @include mq(sp) {
        left: 3%;
        top: 0%;
      }
    }
  }
  &_left {
    width: 50%;
    text-align: center;
    @include mq(sp) {
      width: 80%;
    }
    h3 {
      padding: 4%;
      font-size: 1.7rem;
      @include mq(tab) {
        padding: 4%;
      }
      @include mq(sp) {
        padding: 3%;
        padding-bottom: 14%;
      }
    }
    p {
      padding: 4%;
      font-size: 1.7rem;
      @include mq(pc) {
        font-size: 1.6rem;
      }
      @include mq(sp) {
        padding: 0%;
        padding-bottom: 14%;
      }
    }
  }
  &_right {
    width: 45%;
    line-height: 1.5;
    @include mq(sp) {
      width: 80%;
    }
    p {
      color: $main;
      font-size: 1.3rem;
      @include mq(tab) {
        font-size: 1.1rem;
      }
    }
  }
}
.president {
  &_ttl {
    @include ttl;
    padding: 10%;
    @include mq(pc) {
      margin-bottom: 5%;
    }
    @include mq(tab) {
      margin-bottom: 10%;
      padding: 18%;
    }
    @include mq(sp) {
      margin-bottom: 0%;
      padding: 10%;
    }
  }
  &_inner {
    width: 100%;
    @include flex(space-around);
    position: relative;
    display: flex;
    padding: 5% 0;
    margin-bottom: 10%;
    border-top: solid 1px $m-black;
    @include mq(sp) {
      flex-direction: column;
    }
    &::before {
      content: "02";
      display: inline-block;
      position: absolute;
      font-size: 10rem;
      color: $light;
      opacity: .6;
      left: 18%;
      top: 7%;
      z-index: -1;
      @include mq(pc) {
        left: 15%;
      }
      @include mq(tab) {
        left: 10%;
        font-size: 9rem;
      }
      @include mq(sp) {
        left: 30%;
        top: 5%;
      }
    }
  }
  &_left {
    width: 50%;
    text-align: center;
    @include mq(sp) {
      width: 100%;
    }
    p {
      padding: 1%;
      font-size: 1.3rem;
    }
  }
  &_detail {
    @include flex(center,flex-end);
    @include mq(pc) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  &_img {
    width: 70%;
    @include mq(pc) {
      width: 90%;
    }
    img {
      width: 90%;
    }
  }
  &_name {
    padding-right: 2%;
    width: 30%;
    font-size: 2rem;
    color: $main;
    @include mq(pc) {
      width: 45%;
      padding-right: 0%;
    }
    @include mq(tab) {
      width: 60%;
      padding-top: 5%;
    }
    @include mq(sp) {
      padding-top: 2%;
    }
  }
  &_right {
    width: 45%;
    line-height: 1.5;
    @include mq(sp) {
      width: 80%;
      margin: 0 auto;
    }
    p {
      color: $main;
      font-size: 1.3rem;
      @include mq(pc) {
        top: 7%;
      }
      @include mq(tab) {
        font-size: 1.1rem;
      }
    }
  }
}
.history {
  &_ttl {
    @include ttl;
    text-align: center;
    width: 50%;
    padding: 6%;
    @include mq(tab) {
      padding: 7%;
    }
    @include mq(sp) {
      width: 100%;
    }
  }
  &_inner {
    position: relative;
    width: 100%;
    border-top: solid 1px $m-black;
    margin-top: 10%;
    &::before {
      content: "03";
      display: inline-block;
      position: absolute;
      font-size: 10rem;
      color: $light;
      opacity: .6;
      left: 18%;
      top: 1%;
      z-index: -1;
      @include mq(pc) {
        top: 0%;
        left: 15%;
      }
      @include mq(tab) {
        font-size: 9rem;
        left: 10%;
      }
      @include mq(sp) {
        left: 60%;
      }
    }
  }
  &_left {
    table {
      margin: 0 auto;
      width: 60%;
      @include mq(sp) {
        width: 80%;
      }
      tr {
        border-bottom: 1px solid $m-black;
      }
    }
    table tr td:nth-child(1) {
      font-size: 1.3rem;
      width: 50%;
      padding: 2%;
      color: $main;
    }
    table tr td:nth-child(2) {
      font-size: 1.3rem;
      line-height: 2;
      color: $main;
    }
  }
  &_img {
    margin: 0 auto;
    position: relative;
    width: 70%;
    padding-top: 5%;
    img {
      width: 100%;
    }
  }
}