@use "../global" as *;

.ideal {
  &_ttl {
    @include ttl;
    padding: 3%;
  }
  &_inner {
    width: 100%;
    @include flex(space-around);
    padding: 5% 0;
    position: relative;
    overflow: hidden;
    &::before{
      content: "01";
      display: inline-block;
      position:absolute;
      font-size: 10rem;
      color: $light;
      opacity: .6;
      left: 18%;
      top: 7%;
      z-index: -1;
    }
  }
  &_left {
    width: 50%;
    text-align: center;
    h3 {
      padding: 4%;
      font-size: 1.7rem;
    }
    p {
      padding: 4%;
      font-size: 1.7rem;
    }
  }
  &_right {
    width: 45%;
    line-height: 1.5;
    p {
      color: $main;
      font-size: 1.3rem
    }
  }
}
.president {
  &_ttl {
    @include ttl;
    padding: 13%;
  }
  &_inner {
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    margin-bottom: 10%;
    border-top: solid 1px $m-black;
    &::before {
      content: "02";
      display: inline-block;
      position: absolute;
      font-size: 10rem;
      color: $light;
      opacity: .6;
      left: 18%;
      top: 7%;
      z-index: -1;
    }
  }
  &_left {
    width: 50%;
    text-align: center;
    p {
      padding: 1%;
      font-size: 1.3rem;
    }
  }
  &_detail {
    @include flex(center,flex-end);
  }
  &_img {
    width: 70%;
    img {
      width: 90%;
    }
  }
  &_name {
    padding-right: 2%;
    width: 30%;
    font-size: 2rem;
    color: $main;
  }
  &_right {
    position: relative;
    width: 45%;
    line-height: 1.5;
    p {
      position: absolute;
      bottom: 0;
      color: $main;
      font-size: 1.3rem;
    }
  }
}
.history {
  &_ttl {
    @include ttl;
    text-align: center;
    width: 50%;
    padding: 6%;
  }
  &_inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top: solid 1px $m-black;
    margin-top: 10%;
    &::before {
      content: "03";
      display: inline-block;
      position: absolute;
      font-size: 10rem;
      color: $light;
      opacity: .6;
      left: 18%;
      top: 1%;
      z-index: -1;
    }
  }
  &_left {
    table {
      margin: 0 auto;
      width: 60%;
      tr {
        border-bottom: 1px solid $m-black;
      }
    }
    table tr td:nth-child(1) {
      font-size: 1.3rem;
      width: 50%;
      padding: 2%;
      color: $main;
    }
    table tr td:nth-child(2) {
      font-size: 1.3rem;
      line-height: 2;
      color: $main;
    }
  }
  &_img {
    margin: 0 auto;
    position: relative;
    width: 70%;
    padding-top: 5%;
    img {
      width: 100%;
    }
  }
}