@use "../global"as *;

.info{
  margin-top: 5%;
  &_inner{
    background: $main;
    text-align: center;
    padding: 3% 0;
    p{
      color: $m-white;
      font-size: 1.5rem;
      line-height: 2;
      @include mq(sp){
        font-size: 1.3rem;
      }
    }
  }
}

.tell{
  width: 90%;
  margin: 5% auto;
  &_ttl{
    @include ttl;
  }
  &_txt{
    width: 90%;
    margin: 0 auto;
    background: $bg-glay;
    text-align: center;
    padding: 3% 0;
    &Name{
      color: $main;
      font-size: 1.2rem;
    }
    &Tel{
      @include flex;
      font-size: 2.5rem;
      line-height: 3;
      @include mq(sp){
        font-size: 2rem;
      }
      span{
        text-align: center;
        color: $m-black;
        font-size: 2.5rem;
      }
    }
    &Time{
      font-size: 1.2rem;
    }
  }
}

.mail{
  width: 90%;
  margin: 0 auto;
  &_ttl{
    @include ttl;
  }
  &_form{
    width: 90%;
    margin: 0 auto;
    background: $bg-glay;
    padding: 3% 5%;
    @include mq(tab){
      padding: 5% 0;
    }
    &Item{
      @include flex(start);
      margin-bottom: 1%;
      position: relative;
      @include mq(tab){
        flex-direction: column;
        margin-bottom: 3%;
      }
      &:nth-of-type(1),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10),
      &:nth-of-type(11){
        &::before{
          display: none;
        }
      }
      &:nth-of-type(12){
        align-items: flex-start;
        @include mq(tab){
          align-items: center;
        }
        &::before{
          display: none;
        }
      }
      &::before{
        content: "必須";
        @include position(50%,45%);
        display: inline-block;
        background: $m-white;
        color: $mandatory;
        font-size: 1.2rem;
        padding: 1%;
        @include mq(tab){
          top: 15%;
          left: 60%;
        }
        @include mq(sp){
          left: 70%;
        }
      }
      label{
        width: 50%;
        font-size: 1.3rem;
        @include mq(tab){
          width: 80%;
          margin-bottom: 3%;
        }
      }
      select{
        width: 50%;
        font-size: 1.2rem;
        padding: 1%;
        background: $light;
        border: none;
        @include mq(tab){
          width: 80%;
        }
        &:focus {
          background: $m-white;
          border: 2px solid $light;
          outline: 0;
        }
      }
      input{
        width: 50%;
        padding: 1%;
        font-size: 1.2rem;
        background: $light;
        position: relative;
        border: none;
        @include mq(tab) {
            width: 80%;
          }
        &:focus{
          background: $m-white;
          border: 2px solid rgb(112, 181, 228);
          outline: 0;
        }
      }
      textarea{
        width: 50%;
        background: $light;
        font-size: 1.2rem;
        border: none;
        @include mq(tab) {
            width: 80%;
          }
        &:focus {
          background: $m-white;
          border: 2px solid $light;
          outline: 0;
        }
      }
    }
    p{
      font-size: 1.3rem;
      margin: 3% 0;
      @include mq(tab){
        margin: 5% 0 5% 10% ;
      }
      @include mq(sp){
        margin-left: 3%;
      }
    }
    &Btn{
      margin-top: 5%;
      display: inline-block;
      border-radius: 20px;
      font-size: 1.5rem;
      text-align: center;
      cursor: pointer;
      padding: 1% 5%;
      background: $main;
      color: $m-white;
      line-height: 1em;
      transition: .3s;
      box-shadow: 6px 6px 3px #666;
      border: 2px solid $main;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      @include mq(tab){
        padding: 3% 6%;
      }
      &:hover{
        box-shadow: unset;
        color: $main;
        background: $m-white;
        border: unset;
      }
    }
  }
}

.tab-block {
  display: none;

  @include mq(tab) {
    display: block;
  }
}