@use "../global"as *;

.copy {
  &_inner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    background: $main;
  }
  &_left {
    @include position (60%, 11.3%);
    border-bottom: solid 1px white;
    width: 22.5%;
  }
  &_right {
    @include position (60%, 88.7%);
    border-bottom: solid 1px white;
    width: 22.5%;
  }
  &_center {
    @include position;
    width: 55%;
    height: 45%;
    border: solid 1px white;
    text-align: center;
  }
  &_txt {
    @include position;
    width: 100%;
    margin: 0% auto;
    line-height: 2;
  }
  &_contain {
    font-size: 1.3rem;
    color: white;
    span {
      color: $sub;
      font-size: 1.7rem;
    }
  }
}