@use "../global" as *;

.top {
  width: 100%;
  height: 70vh;

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../img/top-bg.png);
    @include bg;
  }

  &_txt {
    width: 100%;
    text-align: center;
    @include position;
  }
  
  &_copy {
    font-size: 3.5rem;
    text-shadow: $m-white 2px 2px;
    color: $sub;
    @include mq(pc){
      font-size: 3rem;
    }
    @include mq(tab){
      margin-bottom: 3%;
    }
    br{
      display: none;
      @include mq(tab){
        display: block;
      }
    }
    span {
      color: $sub;
      font-size: 2em;
      @include mq(tab){
        line-height: 1.5;
        font-size: 1.5em;
      }
      @include mq(sp){
        font-size: 1.3em;
      }
    }
  }

  &_ex {
    color: $m-white;
    font-size: 2rem;
  }
}

.service {
  margin-top: 5%;

  &_inner {
    padding: 0 5%;
    @include mq(tab){
      text-align: center;
      padding: 0;
    }
  }

  &_top {
    @include flex;
    @include mq(tab){
      flex-direction: column;
    }
    &Left {
      width: 50%;
      @include mq(tab){
        width: 90%;
      }
    }
    &Right {
      position: relative;
      width: 50%;
      text-align: center;
      opacity: .8;
      @include mq(tab){
        width: 90%;
      }
      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 40%;
        height: 100%;
        background: url(../img/service-img2.png);
        @include bg;
        @include position-r(-80%, 0);
        @include mq(pc){
          width: 50%;
        }
        @include mq(tab){
          display: none;
        }
      }
      img {
        width: 50%;
        @include mq(pc){
          width: 70%;
        }
        @include mq(tab){
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &_ttl {
    @include ttl;
    @include mq(tab){
      margin-bottom: 5%;
    }
  }

  &_ex {
    padding-left: 5%;
    font-size: 1.2rem;
    margin-bottom: 3%;
    text-align: justify;
    line-height: 1.2;
    @include mq(tab){
      padding-left: 0;
    }
  }

  &_bottom {
    position: relative;
    overflow: hidden;
    @include mq(tab){
      margin-top: 5%;
    }
  }

  &_item {
    width: 50%;
    background: $main;
    clip-path: polygon(0 0, 85% 0, 95% 100%, 0% 100%);
    font-size: 1.5rem;
    line-height: 3;
    color: $m-white;
    padding-left: 8%;
    position: relative;
    margin-bottom: 1%;
    left: 3%;
    @include mq(tab){
      text-align: initial;
      width: 90%;
      padding-left: 15%;
    }
    &::before {
      @include position(50%, 8%);
      counter-increment: number 1;
      content: "0" counter(number);
    }
    &:nth-child(2) {
      left: 6%;
    }
    &:nth-child(3) {
      left: 9%;
    }
    &:nth-child(4) {
      left: 12%;
    }
  }
}

.frow {
  margin-top: 5%;
  &_inner {
    background: url(../img/flow-bg.png);
    @include bg;
    padding: 3% 5%;
  }
  &_ttl {
    @include ttl;
    color: $main;
    @include mq(sp){
      font-size: 1.5rem;
    }
  }
  &_list {
    @include flex(center, start);
    @include mq(tab){
      display: block;
    }
  }
  &_item {
    position: relative;
    width: 12%;
    height: 400px;
    background: $main;
    clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0 100%, 0 0);
    color: $m-white;
    &:last-child{
      clip-path: none;
      @include mq(tab){
        height: 150px;
      }
    }
    @include mq(pc){
      width: 15%;
    }
    @include mq(tab){
      width: 80%;
      margin: 0 auto;
      text-align: center;
      height: 200px;
      clip-path: polygon(100% 0, 100% 70%, 50% 100%, 0 70%, 0 0);
    }
    @include mq(sp){
      height: 150px;
      &:last-child{
        height: 100px;
      }
    }
    &Img {
      @include position(10%, 40%);
      width: 30%;
      &Last{
        width: 30%;
        @include position(10%,50%);
        @include mq(tab) {
            @include position(20%);
            margin-bottom: 3%;
            width: 15%;
          }
      }
      @include mq(tab){
        @include position(20%);
        margin-bottom: 3%;
        width: 15%;
      }
    }
  }

  &_single {
    @include position(50%, 40%);
    &:last-child{
      @include position;
    }
    @include mq(tab) {
        @include position;
        width: 100%;
      }
    p {
      writing-mode: vertical-lr;
      color: $m-white;
      font-size: 1.3rem;
      @include mq(tab) {
        writing-mode: unset;
        font-size: 1.5rem
      }
    }
  }

  &_flex {
    @include position(50%, 40%);
    @include flex(center, start);
    line-height: 1.5;
    @include mq(tab){
      display: block;
      @include position;
      width: 100%;
    }
    p {
      writing-mode: vertical-rl;
      color: $m-white;
      font-size: 1.3rem;
      @include mq(tab){
        writing-mode: unset;
        font-size: 1.5rem
      }
    }
  }
}

.about {
  margin-top: 5%;
  &_ttl {
    @include ttl;
    margin-left: 5%;
  }
  &_bg {
    position: relative;
    background-color: $light;
    opacity: .8;
    height: 230px;
    @include mq(tab){
      height: auto;
    }
  }
  &_list {
    @include flex(space-around);
    height: 100%;
    overflow: hidden;
    @include mq(tab){
      flex-direction: column;
      padding: 5% 0;
    }
  }
  &_item {
    text-align: center;
    height: 100%;
    width: 25%;
    @include flex;
    position: relative;
    @include mq(pc){
      width: 31%;
    }
    @include mq(tab){
      width: 90%;
      padding: 10% 0;
      margin-bottom: 5%;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &::before{
      @include backnamber("01");
      @include mq(tab){
        left: 15%;
      }
    }
    &:nth-child(2){
      &::before{
        @include backnamber("02");
      }
    }
    &:nth-child(3){
      &::before{
        @include backnamber("03");
        @include mq(tab){
          left:85%;
        }
      }
    }
  }

  &_txt {
    width: 100%;
    @include flex;
    flex-direction: column;
    &Ttl {
      font-size: 2rem;
      color: $main;
      margin-bottom: 5%;
    }
  }

  &_ex {
    @include flex;
    flex-direction: column;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: bold;
    color: $m-white;
    
    span {
      color: $m-white;
      font-size: .6em;
    }
  }
}

.contact {
  margin-top: 5%;

  &_ttl {
    @include ttl;
    margin-left: 5%
  }

  &_box {
    @include flex(space-around);
    @include mq(tab){
      flex-direction: column;
    }
  }

  &_left,
  &_right {
    background: $bg-glay;
    width: 40%;
    height: 250px;
    padding: 2%;
    flex-direction: column;
    text-align: center;
    @include mq(tab){
      width: 90%;
      margin-bottom: 5%;
      height: 200px;
      padding: 5%;
    }
    &Ttl {
      font-size: 1.3rem;
      color: $main;
      border-bottom: 1px solid $sub;
      width: 65%;
      margin: 0 auto;
      @include mq(pc){
        width: 80%;
      }
      span {
        color: $main;
        font-size: 1.8rem;
      }
    }
  }

  &_txt,
  &_mail {
    @include flex;
    flex-direction: column;
    height: 100%;
    a {
      font-size: 1.6rem;
      font-weight: bold;
      text-decoration: underline;
      @include mq(pc){
        font-size: 1.3rem;
      }
      &:hover{
        opacity: .6;
      }
    }
  }
  &_name {
    color: $main;
    font-size: 1.2rem;
  }
  &_tel {
    @include flex;
    font-size: 2.5rem;
    line-height: 2;
    @include mq(pc){
      font-size: 2rem;
    }
    img{
      width: 10%;
    }
  }

  &_time {
    font-size: 1.2rem;
  }
}